<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Our Team Section | CodingLab </title>---->
    <link rel="stylesheet" href="{{ url_for('static', filename='us.css')}}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{{ url_for('static', filename='priyansh.jpeg')}}" alt="">
           </div>
           <div class="details">
             <div class="name">Priyansh gupta</div>
             <div class="job">I AM PRIYANSH GUPTA STUDENT OF KRISHNA INSTITUTE OF ENGINEERING AND TECHNOLOGY COLLEGE CURRENTLY PURSUING B.TECH IN 2ND YEAR FROM IT BRANCH</div>
           </div>
           <div class="media-icons">
            <a href="https://www.linkedin.com/in/priyansh-gupta-07b24321b/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Priyansh-911" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://instagram.com/_priyanshgupta9_?igshid=ZDdkNTZiNTM=" target="_blank"><i class="fab fa-instagram"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="{{ url_for('static', filename='A07I1590.JPG')}}" alt="">
           </div>
           <div class="details">
             <div class="name">Dhruv Aggarwal</div>
             <div class="job">I AM DHRUV AGGARWAL STUDENT OF MAHARAJA AGRASAIN INSTITUTE OF TECHNOLOGY COLLEGE CURRENTLY PURSUING B.TECH IN 2ND YEAR FROM CSE BRANCH</div>
           </div>
           <div class="media-icons">
            <a href="https://www.linkedin.com/in/dhruv-aggarwal-719095225" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/dhruv-aggarwal-719095225" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://instagram.com/_dhruvaggarwal12_?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>
           </div>
         </div>
        </div>
       
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</body>
</html>
 